<!-- Footer Section -->
<footer class="footer">
    <div class="main-part">
        <ul class="footer-nav-items">
            <li class="footer-nav-item"><a href="#" class="footer-nav-link">About Us</a></li>
            <li class="footer-nav-item"><a href="#" class="footer-nav-link">Delivery Information</a></li>
            <li class="footer-nav-item"><a href="#" class="footer-nav-link">Returns & Exchange</a></li>
            <li class="footer-nav-item"><a href="#" class="footer-nav-link">Technical & Privacy</a></li>
            <li class="footer-nav-item"><a href="#" class="footer-nav-link">Order Status</a></li>
        </ul>
        <div class="footer-social-medias">
            <div class="logo-wrapper">
                <h1 class="footer-logo">MADE UP</h1>
            </div>
                <p class="social-paragraph">Stay in touch with us</p>
                <ul class="social-medias">
                    <li class="social-media-item">
                        <a class="item-link"><i class="fa fa-facebook media-icons"></i></a>
                    </li>
                    <li class="social-media-item">
                        <a class="item-link"><i class="fa fa-instagram media-icons"></i></a>
                    </li>
                    <li class="social-media-item">
                        <a class="item-link"><i class="fa fa-youtube media-icons"></i></a>
                    </li>
                </ul>
        </div>
        <div class="footer-address-wrapper">
            <div class="footer-address-content">
                <h3 class="footer-address-heading">Our Corporate Office</h3>
                <p class="footer-address">
                    No:7,A2B road,Adayar Rajpuram,<br>
                    T-Nagar,chennai-642002.
                </p>
            </div>
            <div class="footer-contact-wrapper">
                <div class="footer-email">
                    <i class="fa fa-envelope"></i>
                    <p class="footer-mail">sales@madeup.com</p>
                </div>
                <div class="footer-phone">
                    <i class="fa fa-phone"></i>
                    <p class="footer-ph">044 9999 9999</p>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- end of footer Section -->