<div class="container">
    
    <div class="section-heading">
        <h1 class="header">My Profile</h1>
    </div>
    <form [formGroup]="profileForm" class="profile-details">
        <div class="form-wrapper">
            <div class="name-container">
                <div class="items-1 items">
                    <input type="text" class="item-1 name" placeholder="First name" formControlName="firstName">
                </div>
                <div class="items-2 items">
                    <input type="text" class="item-2 name" placeholder="Last name" formControlName="lastName">
                </div>
            </div>
            <div class="items-3 items">
                <input type="text" class="item-3 item" placeholder="Email" formControlName="email">
            </div>
            <div class="items-4 items">
                <input type="text" class="item-4 item"placeholder="Phone Number" formControlName="phoneNo">
            </div>
            <div class="items-5 items">
                <input type="text" class="item-5 item" placeholder="Password" formControlName="password">
            </div>
            <div class="items-6 items">
                <input type="text" class="item-6 item" placeholder="Confirm Password" formControlName="confirmPassword">
            </div>
        </div>
        <span class="btn-error-msg" *ngIf="showError;else showsuccess">Please Fill Required Details</span>
        <ng-template #showsuccess>
            <span class="btn-success-msg">Added Successfully</span>
        </ng-template>
        <div class="address">
            <button class="address-btn"  (click)="addAddress()">ADD NEW ADDRESS</button>
        </div>
    </form>
</div>