.container{
    padding: 1rem;
}

.section-heading,.profile-details{
    padding: 0rem 2rem;
}
.header{
    font-weight: 300;
    margin-bottom: 2rem;
}

.form-wrapper{
    display: grid;
    grid-template-columns: auto auto;
}

.name-container{
    display: flex;
    justify-content: flex-start;
}
.item{
    width: 48.7rem;
    height: 2.5rem;
}



.item-1{
    margin-right: 2rem;
}

.item-1,.item-2{
    width: 23rem;
    height: 2.5rem;
}

.items-3,.items-4,.items-5,.items-6{
    grid-column: 1/3;
}


.items{
    margin-bottom: 1rem;
}




.address-btn{
    padding: 0.6rem;
    color: whitesmoke;
    background-color: black;
    position: relative;
    left: 36.3rem;
    margin: 0.5rem auto;
}

.btn-error-msg{
    color: red;
}

.btn-success-msg{
    color:green;
}








@media (max-width:1024px){
    .item-1,.item-2{
        width: 18rem;
        height: 2.5rem;
    }
    .item{
        width: 37.7rem;
        height: 2.5rem;
    }
    .address-btn{
        padding: 0.6rem;
        color: whitesmoke;
        background-color: black;
        position: relative;
        left: 25.3rem;
        margin: 0.5rem auto;
    }
}

@media(max-width:768px){
    .item-1,.item-2{
        width: 12rem;
        height: 2.5rem;
    }
    .item{
        width: 26.7rem;
        height: 2.5rem;
    }

    .header{
        font-weight: 300;
        margin-bottom: 1rem;
    }

    .address-btn{
        padding: 0.6rem;
        color: whitesmoke;
        background-color: black;
        position: relative;
        left: 14.3rem;
        margin: 0.5rem auto;
    }
}


@media (max-width:360px),(max-width:384px),(max-width:414px),(max-width:411px){
    .profile-details{
        padding: 0rem 1rem;
    }
    .form-wrapper{
        display: flex;
        flex-direction: column;
    }
    .name-container{
        display: flex;
        flex-direction: column;
    }
    .item,.item-1,.item-2{
        width: 26rem;
        height: 3.5rem;
    }
    .address-btn{
        padding: 0.6rem;
        color: whitesmoke;
        background-color: black;
        position: relative;
        left: 0.1rem;
        margin: 0.5rem auto;    
        width: 27rem;
        height: 4rem;
    }

    .btn-error-msg{
        color: red;
        position: relative;
        padding: 1.5rem;
        left: 6rem;
    }
    .btn-success-msg{
        color: green;
        position: relative;
        padding: 1.5rem;
        left: 6rem;
    }

}

@media(max-width:320px){
    .item,.item-1,.item-2{
        width: 23rem;
        height: 3.5rem;
    }
    .address-btn{
        padding: 0.6rem;
        color: whitesmoke;
        background-color: black;
        position: relative;
        left: 0.1rem;
        margin: 1rem auto;    
        width: 24rem;
        height: 3.5rem;
    }
}

@media(max-width:280px){
    .item,.item-1,.item-2{
        width: 18rem;
        height: 3.5rem;
    }

    .address-btn{
        padding: 0.6rem;
        color: whitesmoke;
        background-color: black;
        position: relative;
        left: 0.1rem;
        margin: 1rem auto;
        width: 18.5rem;
        height: 3.5rem;
    }
}